{{template "base" .}}
{{define "title"}}News #{{.News.ID}}{{end}}
{{define "main"}}
    {{with .News}}
        <div class='snippet'>
            <div class='metadata'>
                <strong>{{.Title.String}}</strong>
                <span>#{{.ID}}</span>
            </div>
            <pre><code>{{.Content.String}}</code></pre>
            <div class='metadata'>
                <time>Created: {{.Created | humanDate}}</time>
                <time>Expires: {{.Expires | humanDate}}</time>
            </div>
        </div>
    {{end}}
{{end}}